# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.dylib
*.dll
*.o

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
venv/
ENV/

# Spyder project settings
.spyderproject

# Rope project settings
.ropeproject

# Emacs #
#########
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# PyCharm
*.idea

.DS_Store

# CMake
CMakeFiles
CMakeCache.txt
CTestTestfile.cmake
/Makefile
cmake_*.cmake
install_manifest.txt

# CPack
_CPack_Packages
CPack*Config.cmake
*.dmg
*.tar.*
*.deb
*.rpm

# Build products
tests/test-*
lib*.a
*.app
*_autogen
*.capnp.*
retro/cores/*-version
retro/cores/*.json

# Test stuff
Temporary
*.mkv
*.search

# VSCode config
/.vscode/

# cibuildwheel
wheelhouse
tests/test_cibuildwheel/tmp_dockerfiles
third-party/capnproto/c++/cmake/CapnProtoConfig.cmake
third-party/capnproto/c++/cmake/CapnProtoConfigVersion.cmake
third-party/capnproto/c++/cmake/CapnProtoTargets.cmake
third-party/capnproto/c++/src/Makefile
third-party/capnproto/c++/src/capnp/Makefile
third-party/capnproto/c++/src/kj/Makefile
third-party/gtest/googlemock/Makefile
third-party/gtest/googlemock/gtest/Makefile
third-party/libzip/config.h
third-party/libzip/libzip.pc
third-party/libzip/Makefile
third-party/libzip/zipconf.h
third-party/libzip/examples/Makefile
third-party/libzip/man/libzip.man
third-party/libzip/man/Makefile
third-party/libzip/man/zip_add_dir.man
third-party/libzip/man/zip_add.man
third-party/libzip/man/zip_close.man
third-party/libzip/man/zip_delete.man
third-party/libzip/man/zip_dir_add.man
third-party/libzip/man/zip_discard.man
third-party/libzip/man/zip_error_clear.man
third-party/libzip/man/zip_error_code_system.man
third-party/libzip/man/zip_error_code_zip.man
third-party/libzip/man/zip_error_fini.man
third-party/libzip/man/zip_error_get_sys_type.man
third-party/libzip/man/zip_error_get.man
third-party/libzip/man/zip_error_init.man
third-party/libzip/man/zip_error_set.man
third-party/libzip/man/zip_error_strerror.man
third-party/libzip/man/zip_error_system_type.man
third-party/libzip/man/zip_error_to_data.man
third-party/libzip/man/zip_error_to_str.man
third-party/libzip/man/zip_errors.man
third-party/libzip/man/zip_fclose.man
third-party/libzip/man/zip_fdopen.man
third-party/libzip/man/zip_file_add.man
third-party/libzip/man/zip_file_extra_field_delete.man
third-party/libzip/man/zip_file_extra_field_get.man
third-party/libzip/man/zip_file_extra_field_set.man
third-party/libzip/man/zip_file_extra_fields_count.man
third-party/libzip/man/zip_file_get_comment.man
third-party/libzip/man/zip_file_get_error.man
third-party/libzip/man/zip_file_get_external_attributes.man
third-party/libzip/man/zip_file_rename.man
third-party/libzip/man/zip_file_set_comment.man
third-party/libzip/man/zip_file_set_encryption.man
third-party/libzip/man/zip_file_set_external_attributes.man
third-party/libzip/man/zip_file_set_mtime.man
third-party/libzip/man/zip_file_strerror.man
third-party/libzip/man/zip_fopen_encrypted.man
third-party/libzip/man/zip_fopen.man
third-party/libzip/man/zip_fread.man
third-party/libzip/man/zip_fseek.man
third-party/libzip/man/zip_ftell.man
third-party/libzip/man/zip_get_archive_comment.man
third-party/libzip/man/zip_get_archive_flag.man
third-party/libzip/man/zip_get_error.man
third-party/libzip/man/zip_get_file_comment.man
third-party/libzip/man/zip_get_name.man
third-party/libzip/man/zip_get_num_entries.man
third-party/libzip/man/zip_get_num_files.man
third-party/libzip/man/zip_libzip_version.man
third-party/libzip/man/zip_name_locate.man
third-party/libzip/man/zip_open.man
third-party/libzip/man/zip_register_progress_callback_with_state.man
third-party/libzip/man/zip_register_progress_callback.man
third-party/libzip/man/zip_rename.man
third-party/libzip/man/zip_set_archive_comment.man
third-party/libzip/man/zip_set_archive_flag.man
third-party/libzip/man/zip_set_default_password.man
third-party/libzip/man/zip_set_file_comment.man
third-party/libzip/man/zip_set_file_compression.man
third-party/libzip/man/zip_source_begin_write.man
third-party/libzip/man/zip_source_buffer_fragment.man
third-party/libzip/man/zip_source_buffer.man
third-party/libzip/man/zip_source_close.man
third-party/libzip/man/zip_source_commit_write.man
third-party/libzip/man/zip_source_error.man
third-party/libzip/man/zip_source_file.man
third-party/libzip/man/zip_source_filep.man
third-party/libzip/man/zip_source_free.man
third-party/libzip/man/zip_source_function.man
third-party/libzip/man/ZIP_SOURCE_GET_ARGS.man
third-party/libzip/man/zip_source_is_deleted.man
third-party/libzip/man/zip_source_keep.man
third-party/libzip/man/zip_source_make_command_bitmap.man
third-party/libzip/man/zip_source_open.man
third-party/libzip/man/zip_source_read.man
third-party/libzip/man/zip_source_rollback_write.man
third-party/libzip/man/zip_source_seek_compute_offset.man
third-party/libzip/man/zip_source_seek_write.man
third-party/libzip/man/zip_source_seek.man
third-party/libzip/man/zip_source_stat.man
third-party/libzip/man/zip_source_tell_write.man
third-party/libzip/man/zip_source_tell.man
third-party/libzip/man/zip_source_win32a.man
third-party/libzip/man/zip_source_win32handle.man
third-party/libzip/man/zip_source_win32w.man
third-party/libzip/man/zip_source_write.man
third-party/libzip/man/zip_source_zip.man
third-party/libzip/man/zip_source.man
third-party/libzip/man/zip_stat_init.man
third-party/libzip/man/zip_stat.man
third-party/libzip/man/zip_unchange_all.man
third-party/libzip/man/zip_unchange_archive.man
third-party/libzip/man/zip_unchange.man
third-party/libzip/man/zipcmp.man
third-party/libzip/man/zipmerge.man
third-party/libzip/man/ziptool.man
third-party/libzip/regress/Makefile
third-party/libzip/src/Makefile
